.l-content {
  max-width: var(--page-content-max-width);
  padding: 0 var(--padding);
  margin: var(--vertical-padding) auto;
}

@media(min-width: 500px) {
  .l-content {
    padding: 0 calc(var(--padding) * 2);
  }
}