.c-footer {
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--light-grey);
}

.c-footer__top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-footer__logo {
  width: 36px;
  height: 36px;
}

.c-footer__bottom-row p {
  text-align:center;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.c-footer__bottom-row a {
  color: var(--light-grey);
  text-decoration: none;
  font-style: italic;
}