.c-header {
  width: 100%;
  background-color: var(--dark-grey);
  padding: calc(var(--vertical-padding) * 2) var(--horizontal-padding);
  color: var(--hot-pink);
}

.c-header__site {
  margin: 0;
  padding: 0 0 var(--padding) 0;
}

.c-header__site a {
  text-decoration: none;
}

.c-header__title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 0;
}