blockquote {
  font-style: italic;
  margin: var(--vertical-padding) calc(var(--horizontal-padding) / 2);
  padding: 0 calc(var(--horizontal-padding) / 2);
  border-left: solid;
  border-color: var(--hot-pink);
}